---
layout: default
title: Chase Meadors
description: Chase Meadors's portfolio; software, mathematics, web development, music
---

<svg id="canvas" style="position: absolute; left: 0; top: 0; width: 100%; height: 100%" viewBox="0 0 100 100">
  <a href="/projects"><text class="stage0 node textlink" x="25" y="20">{Software}</text></a>

  <path class="stage1 path" d="M 44,20 L 73,20"></path>
  <path class="stage1 path" d="M 25,24 L 25,74"></path>
  <polygon class="stage2 arrowtip" points="24,74 25,75 26,74"></polygon>
  <polygon class="stage2 arrowtip" points="73,19 74,20 73,21"></polygon>

  <a href="/music"><text class="stage3 node textlink" x="25" y="80">{Music}</text></a>
  <a target="_blank" href="/math"><text class="stage3 node textlink" x="86" y="20">{Math}</text></a>

  <path class="stage4 path" d="M 39,80 L 78,80"></path>
  <path class="stage4 path" d="M 86,24 L 86,71"></path>

  <polygon class="stage5 arrowtip" points="78,79 79,80, 78,81"></polygon>
  <polygon class="stage5 arrowtip" points="85,71 86,72 87,71"></polygon>

  <a target="_blank" href="https://github.com/cemulate">
      <use class="stage6 node textlink github-icon" transform="translate(80.5, 73) scale(0.11)" href="assets/github-brands.svg#github"></use>
  </a>
</svg>
