<header>
  <a href="/"><h1>{{ site.title | default: site.github.repository_name }}</h1></a>
  <p>{{ site.description | default: site.github.project_tagline }}</p>

  <div class="main-link"><h3><a href="/projects">Portfolio and Projects</a></h3></div>
  <div class="main-link"><h3><a href="/math">Math Solutions</a></h3></div>

  <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>

  <p class="view"><a target="_blank" href="mailto:{{ site.email }}">Contact me</a></p>

</header>
