<aside class="menu">
    <ul class="menu-list">
        <li class="mb-4"><a class="{% if current == 'projects' %} is-active {% endif %}" href="/projects">Software</a></li>
        <li class="mb-4"><a target="_blank" href="https://math.colorado.edu/~chme3268/research">Math</a></li>
        <li class="mb-4"><a class="{% if current == 'music' %} is-active {% endif %}" href="/music">Music</a></li>
    </ul>
</aside>