---
layout: default
---

<main>
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="math-container">
                <div class="content">
                    {{ content | markdownify }}
                </div>
            </div>
        </div>
    </div>
</div>
</main>