$global-radius: 0px;

$body-background: #ffffff;
$body-font-family: "Open Sans";
$body-font-color: #333;

$theme-border-color: darken($body-background, 30%);

$topbar-background: darken($body-background, 15%);
$anchor-color: #5258c5;

$hr-border: 1px solid $theme-border-color;

$card-background: white;
$card-divider-background: darken($body-background, 15%);

$callout-background: darken($body-background, 10%);
$callout-background-fade: 0%;

$topbar-padding: 0px;

$list-lineheight: 2rem;

$sidebar-width: 20vw;

$topbar-unstack-breakpoint: small;

$body-gap: 10px;

@media screen and (min-width: 64em) {
    :root {
        --sidebar-width: 20vw;
    }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    :root {
        --sidebar-width: 30vw;
    }
}
@media screen and (max-width: 39.9375em) {
    :root {
        --sidebar-width: 0;
    }
}