---
layout: main
title: Music
description: Video game music covers
---

<section class="section">
  <p>
    I occasionally arrange and perform covers of video game music on my channel <a href="https://www.youtube.com/@trailsinharmony">@trailsinharmony</a>
  </p>
  <hr>
  {% include video with { name: 'holy-saint' } %}
  {% include video with { name: 'choral-chambers' } %}
  {% include video with { name: 'farthest-tree' } %}
  {% include video with { name: 'zeiss' } %}
  {% include video with { name: 'bound-by-fate' } %}
</section>
