<!doctype html>
<html>

<head>
  {% include meta.html %}
  {% include foundation.html %}
  <link rel="stylesheet" href="/styles/github-markdown.css">
</head>

<body>
  {% include top-bar.html %}
  {% include side-bar.html %}

  <div class="main">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
          <div class="cell small-12 markdown-body">
              {{page.content | markdownify}}
          </div>
      </div>
    </div>
  </div>

  {% include mathjax.html %}
</body>

</html>
