<!doctype html>
<html>

<head>
  {% include meta.html %}
  <link rel="stylesheet" href="/styles/foundation-icons/foundation-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="/styles/landing.css">
</head>

<body>
  <svg id="canvas" style="position: absolute; left: 0; top: 0; width: 100%; height: 100%" viewBox="0 0 100 100">
    <a href="/projects"><text class="stage0 node textlink" x="25" y="20">{Projects}</text></a>

    <path class="stage1 path" d="M 44,17 C 41,17 41,21 44,21 L 73,21"></path>
    <path class="stage1 path" d="M 28,27 C 28,24 24,24 24,27 L 24,74"></path>
    <polygon class="stage2 arrowtip" points="23,74 24,75 25,74"></polygon>
    <polygon class="stage2 arrowtip" points="73,20 74,21 73,22"></polygon>

    <a href="/projects"><text class="stage3 node textlink" x="25" y="80">{Programming}</text></a>
    <a href="/math"><text class="stage3 node textlink" x="86" y="20">{Math}</text></a>

    <path class="stage4 path" d="M 53,78 C 50,78 50,82 53,82 L 78,82"></path>
    <path class="stage4 path" d="M 89,26 C 89,23 85,23 85,26 L 85,71"></path>

    <polygon class="stage5 arrowtip" points="78,81 79,82, 78,83"></polygon>
    <polygon class="stage5 arrowtip" points="84,71 85,72 86,71"></polygon>

    <!-- <a href="{{site.github.owner_url}}" class="stage6 node textlink"><image x="81" y="74" width="10" height="10" href="img/intro/github-icon.svg"></image></a> -->
    <a href="{{site.github.owner_url}}"><text x="85" y="80" class="stage6 node textlink github-icon">&#xf1c9;</text></a>
  </svg>
</body>

</html>
