<!doctype html>
<html>

<head>
  {% include meta.html %}
  {% include assets.html %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <link rel="stylesheet" href="/styles/landing.css">
  <script src="/js/snap.svg-min.js"></script>
</head>

<body>
  <svg id="canvas" style="position: absolute; left: 0; top: 0; width: 100%; height: 100%" viewBox="0 0 100 100">
    <a href="/projects"><text class="stage0 node textlink" x="25" y="20">Projects</text></a>

    <path class="stage1 path" d="M 42,17 C 39,17 39,21 42,21 L 75,21"></path>
    <path class="stage1 path" d="M 28,27 C 28,24 24,24 24,27 L 24,74"></path>
    <polygon class="stage2 arrowtip" points="23,74 24,75 25,74"></polygon>
    <polygon class="stage2 arrowtip" points="75,20 76,21 75,22"></polygon>

    <a href="/projects"><text class="stage3 node textlink" x="25" y="80">Programming</text></a>
    <a href="/math"><text class="stage3 node textlink" x="86" y="20">Math</text></a>

    <path class="stage4 path" d="M 51,78 C 48,78 48,82 51,82 L 78,82"></path>
    <path class="stage4 path" d="M 89,26 C 89,23 85,23 85,26 L 85,71"></path>

    <polygon class="stage5 arrowtip" points="78,81 79,82, 78,83"></polygon>
    <polygon class="stage5 arrowtip" points="84,71 85,72 86,71"></polygon>

    <image class="stage6 node" x="81" y="74" width="10" height="10" xlink:href="img/intro/github-icon.svg"></image>
  </svg>
</body>

</html>
