<!doctype html>
<html>

<head>
  {% include meta.html %}
  {% include foundation.html %}
  <link rel="stylesheet" type="text/css" href="/styles/tex4ht.css"/> 
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> 
  <link href="https://fonts.googleapis.com/css?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<body>
  {% include top-bar.html %}
  {% include side-bar.html %}

  <div class="main">
    <div class="grid-container fluid math-container">
      <h4><strong>{{page.title}}</strong></h4>
      <hr>
      <div class="grid-x grid-margin-x">
          <div class="cell small-12">
              {{page.content}}
          </div>
      </div>
    </div>
  </div>
</body>

</html>
