<!doctype html>
<html>

<head>
  {% include meta.html %}
  {% include foundation.html %}
</head>
<body>
  {% include top-bar.html %}

  <div class="grid-container">

    {% assign filteredCollections = site.collections | where: 'label', page.collection %}
    {% assign thisCollection = filteredCollections[0] %}
    {% assign exercises = thisCollection.docs | where_exp: 'item', 'item != page' %}
    {% assign groups = exercises | group_by: 'chapter' %}
    {% assign chapterGroups = groups | where_exp: 'name', 'name == blank' %}
    <!-- {% assign extras = groups | where: 'name', blank %}
    {% assign extraGroup = extras[0] %} -->

    <h3><em><strong>{{thisCollection.textbook_name}}</strong></em> &mdash; {{thisCollection.textbook_author}}</h3>
    <hr style="opacity: 0;">

    {% for group in groups %}

    <h5>{% if group.name == 'standalone' %} Other {% else %} Chapter {{ group.name }} {% endif %}</h5>
    <hr>

    {% assign exercises = group.items | sort: 'order' %}
    {% for ex in exercises %}
      <p>
        <a href="{{ ex.url }}" target="_blank">
        <strong>{% if ex.exercise == 'standalone' %} {{ ex.title }} {% else %} Exercise {{ ex.exercise }} {% endif %}</strong>
        </a>
        &mdash;
        {{ ex.description | markdownify | remove: '<p>' | remove: '</p>' }}
      </p>
    {% endfor %}

    {% endfor %}

  </div>

  {% include mathjax.html %}
</body>

</html>
