@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
@import "landing.css";
@import "math-page.css";

.github-link {
    fill: currentColor;
}

.youtube-embed {
    width: 100%;
    aspect-ratio: 16/9;
}
